* {
    margin: 0;
    padding: 0;
    background-color: rgb(218, 229, 248);
}


h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}


.input__section {
    margin-top: 50px;
}

.input__form {
    border: 1px solid gray;
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

hr {
    width: 100%;
    margin: 50px auto;
    background-color: #fff;

}


.inner__from {
    border: 1px solid gray;
    width: 40%;
    margin: 20px auto 81px auto;
    padding: 20px;
    border-radius: 10px;
}

.preview__inner__from h4 {
    text-align: center;
    line-height: 50px;

}

.preview__inner__from p {
    text-align: center;
    line-height: 22px;
}

table {
    width: 80%;
    margin: 20px auto;

}

tr,
th,
td {
    border: 1px dotted gray;
    padding: 10px;
    text-align: center;
}